logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npm
.eslintcache
.cache
.nuxt
.idea

*.config.js
*.config.ts

_hygen/
__test__/
.storybook
dist/
node_modules/
stories/
src/components/**/**/*.spec.js
